{%  extends 'users/main.html' %}

{% block content %}


<br>


	<div class="col">
		<h5>All users</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="createuserbyn">Create User</a>
			<table class="table table-sm">
				<tr>
					<th>Phone no.</th>
					<th>Name</th>
					<th>Diseases</th>
					<th>Address</th>
					<th>Surgery</th>
					<th>Update</th>

				</tr>
					{% for i in all%}
				<tr>
					<td> {{i.phone_no}} </td>
					<td> {{i.name}} </td>
					<td> {{i.diseases}} </td>
					<td> {{i.address}} </td>
					<td> {{i.surgery}} </td>
					<td><a href = "updateuser/{{i.id}}">Update</a></td>

				</tr>
				{% endfor %}


			</table>
		</div>
	</div>


{% endblock %}